@tailwind base;
@tailwind components;
@tailwind utilities;

.ripple {
    @apply pointer-events-none absolute block;
    transform: scale(0);
    border-radius: 100%;
}

.ripple-animation {
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.footer::before {
    width: 98%;
    height: 99%;
    top: 2px;
    position: absolute;
    border-radius: 35px;
    box-shadow: 0 -4px 33px -17px rgba(0, 0, 0, 0.29);
    z-index: -1;
    content: '';
}
